@model List<WEB_Proje.Domain.Product.ProductModel>

<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <p style="padding-top: 20px; padding-left: 20px"> Electroland </p>
            </a>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="navbar-icon">
                    <use xlink:href="#navbar-icon"></use>
                </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                <div class="offcanvas-header px-4 pb-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/main-logo.png" class="logo">
                    </a>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
                </div>

                <!-- Main Panel -->
                <div class="offcanvas-body">
                    <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link me-4 active" href="#billboard">Pagina principală</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#company-services">Servicii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#mobile-products">Produse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#smart-watches">La reduceri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#yearly-sale">Informatie sezoniera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#latest-blog">Blog</a>
                        </li>

                        <li class="nav-item">
                            <div class="user-items ps-5">
                                <ul class="d-flex justify-content-end list-unstyled">

                                    @if(User.IsInRole("User") || User.IsInRole("Admin")) {
                                        <li class="pe-3">
                                            <p>Hi, @User.Identity.Name</p>
                                        </li>
                                    } else {
                                        <li class="pe-3">
                                            <p>Guest</p>
                                        </li>
                                    }

                                    <!-- Adaugare produs -->
                                    @if(User.IsInRole("Admin")) {
                                        <li class="pe-3">
                                            <a href="@Url.Action("AddProduct", "Home")">
                                                <svg class="user">
                                                    <use xlink:href="#cart-outline"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    }

                                    <!-- Cosul -->
                                    @if(User.IsInRole("User")) {
                                        <li class="pe-3">
                                            <a href="@Url.Action("CartProducts", "Cart")">
                                                <svg class="cart">
                                                    <use xlink:href="#cart"></use>
                                                </svg>
                                                @if(Session["Cart"] != null) {
                                                    <span class="cart-count">
                                                        @(((List<WEB_Proje.Domain.CartStuff.CartStufff>)Session["Cart"]).Sum(i => i.Quantity))
                                                    </span>
                                                }
                                            </a>
                                        </li>
                                    }

                                    <!-- Logare -->
                                    <li class="pe-3">
                                        <a href="@Url.Action("Login", "Login")">
                                            <svg class="user">
                                                <use xlink:href="#user"></use>
                                            </svg>
                                        </a>
                                    </li>


                                    <!-- Logout -->
                                    @if(User.IsInRole("User") || User.IsInRole("Admin")) {
                                        <li class="pe-3">
                                            <a href="@Url.Action("Logout", "Login")">
                                                <svg class="user">
                                                    <use xlink:href="#close"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>