@using System.Web.Optimization

@{
    ViewBag.Title = "Register";
    Layout = null;
}

<head>
    <title>Regea</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- CSS -->
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/LoginCss")

    <!-- JS -->
    <script src="~/Content/Style/js/modernizr.js"></script>
    <script src="~/Content/Style/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/Style/js/plugins.js"></script>
    <script src="~/Content/Style/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Style/js/script.js"></script>

</head>

<body>
    <div class="login-container">
        <h2>Regester</h2>

        <!-- introducerea login si password -->
        <form action="@Url.Action("Login", "Login")">
            <input type="text" name="username" placeholder="Logen" required>
            <input type="password" name="password" placeholder="Posword" required>
            <input type="password" name="password" placeholder="Posword again" required>


            <button type="submit">Sobmit</button>
        </form>

        <!-- La autorizatie -->
        <form action="@Url.Action("Login", "Login")" method="get">
            <button type="submit">Autorizatie</button>
        </form>


        <!-- Inapoi -->
        <form action="@Url.Action("Index", "Home")" method="get">
            <button type="submit">Beck</button>
        </form>
    </div>
</body>
